body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.game-container {
  text-align: center;
  max-width: 400px;
  border: 2px solid #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

input,
button {
  margin-top: 10px;
}

#feedback {
  font-weight: bold;
  margin-top: 20px;
}
